#nav {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav_click {
  display: flex;
}

#amazon_logo {
  width: 100px;
  object-fit: contain;
  margin-right: 5px;
  padding: 15px 20px 0;
}

.nav_click:hover {
  border: 1px #ffffff;
  border-style: solid;
}
#location {
  margin-right: 10px;
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
}
#location_text {
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
#location_line2 {
  display: flex;
  justify-content: space-between;
}

#location_line1 {
  color: #ffffff;
  display: block;
  text-decoration: none !important;
}

a:link {
  text-decoration: none;
}

#location_line2_city {
  color: #ffffff;
  text-decoration: none;
  font-weight: 900;
  display: inline-block;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#location_line2_zip {
  color: #ffffff;
  text-decoration: none;
  font-weight: 900;
  display: inline-block;
}

#location_icon {
  color: rgba(255, 255, 255);
}

#search {
  display: flex;
  align-items: center;
  height: 60px;
  flex-grow: 1;
  margin-right: 10px;
}
#nav_search_input {
  width: 100%;
  margin-right: 0px;
  height: 30px;
  min-width: 400px;
}
#nav_search_icon_wrap {
  background-color: rgb(254, 189, 105);
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
}
#nav_search_icon {
  transform: scale(1);
  margin: auto;
  display: block;
}

#sign {
  padding: 10px;
}
#sign_status {
  color: #ffffff;
  font-weight: 800;
  white-space: nowrap;
}

#order_check {
  padding: 10px;
}

#return_and_order {
  color: #ffffff;
  font-size: 13px;
}

#return {
  display: block;
}
#order {
  display: block;
  font-weight: 800;
}

#cart {
  padding: 10px;
}
#cart_logo {
  color: rgba(255, 255, 255);
}

#cart_text {
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  font-weight: 800;
}
