#background_img {
  /* width: 100%; */
  mask-image: linear-gradient(black 70%, transparent);
}
#middle_contetn {
  max-width: 1500px;
  min-width: 600px;
  flex-shrink: 1;
}
#content {
  display: flex;
  justify-content: space-around;
  background-color: #eaeded;
}

#products {
  position: relative;
  bottom: 100px;
}
