#cart_content {
  display: flex;
  justify-content: space-around;
  background-color: #eaeded;
  height: 2000px;
}
#cart_content_middle {
  display: flex;
  flex-direction: column;
  width: 1500px;
  min-width: 600px;
  justify-content: flex-start;
  
}

#cart_total{
    width: 1500px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

span{
    white-space: pre;
}
